# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build Output
.next/
out/
dist/
build/

# Cache
.cache/
.parcel-cache/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary Files
tmp/
temp/

# Vercel
.vercel/

# MongoDB
mongodb-data/

# Uploads
uploads/

# Cloudinary Secrets
cloudinary.config.js